<app-header title="Horarios"></app-header>

<ion-content>

 <ion-item>
  <ion-icon class=" sync" slot="start" name="shirt-outline"></ion-icon>
  <h1> {{ canchaSeleccionada.id }} </h1>
 </ion-item>

  <ion-list>

    <ion-item *ngFor="let horario of horariosDisponibles">

      <ion-label>
        <ion-icon class="reloj" name="time-outline"></ion-icon>
        <h1>{{ horario }}</h1>
        <ion-input [(ngModel)]="nombreAAsignar" placeholder="Nombre del Cliente"></ion-input>
      </ion-label>

      <ion-button (click)="asignarNombre(horarioSeleccionado)">
        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="seleccionarHorario(horario)">
        <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
      </ion-button>

    </ion-item>

  </ion-list>
</ion-content>